<h1>Expanded Result</h1>

<div class="container">


<h1><%=fullResults.omdbResults[0].Genre%></h1>


    <div class="col-md-6">

        <%
        if(fullResults.omdbResults[0].Poster !== 'N/A'){
            var pic = fullResults.omdbResults[0].Poster;
        }
        else {
            var pic =  'http://placehold.it/300x400';
        }%>

        <a href="<%= pic %>">
            <img src="<%= pic %>">
        </a>

    </div>

    <div class="col-md-6">

        <h1><%= fullResults.omdbResults[0].Title %></h1>
        <br>
        <p><%= fullResults.omdbResults[0].Plot %></p>

        <a href="<%= 'magnet:?xt=urn:btih:' + fullResults.torrents[0].torrent_hash%>"><button class="btn btn-primary">Download</button> </a>

    </div>


</div>